{{!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ABOUT</title>
  <link rel="stylesheet" href="about.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body> --}}
    <!-- heading -->
    <!-- <h1 class="text-center display-4 bg-dark text-white p-2 m-0">QUIZ TIME NOW</h1> -->
    <!-- /heading -->
  {{>navbar}}

  <div style="background-color: teal;">
  <h1 class="text-center display-4 p-4 m-0">ABOUT US</h1>
  </div>  

  <div class=" bg-dark text-white m-0">
    <div class="text-center pt-4">
      <img src="/images/mypic.jpg" height="200px" width="200px" alt="">
    </div>
    <div class="container ">
      <p style="font-size: 30px;" class="m-0 p-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus placeat dolor quam dolores culpa corrupti, voluptates vero itaque repellat fugit, quisquam dolorem eius hic obcaecati, at officia. Quaerat, officiis fugiat?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos voluptatibus aspernatur ab a nobis quos atque suscipit, mollitia nisi odit ducimus, aliquam error, nihil laudantium distinctio itaque provident! Illum, autem.;Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, amet, ad voluptate officiis iure quibusdam possimus repellat, placeat voluptatibus earum dolor nesciunt voluptatum! Perferendis, in repellendus dicta ea eum ratione! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi quo debitis itaque accusantium rerum. Minus quas tenetur expedita, magni id temporibus perferendis, aut nihil, optio quis veritatis. Ullam, numquam ea! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi veniam quisquam in quae inventore maxime animi exercitationem ipsum, aperiam reiciendis nostrum quo, fugiat dolor aliquam necessitatibus? Veniam impedit incidunt assumenda?</p>
    </div>
  </div>

  <!-- footer -->
    <!-- <div class="bg-primary text-center" style="height: 80px;">
      <div class="" >
        <p class="text-white  d-inline p-4" style="font-size: 30px; ">COPYRIGHT &copy; 2020 </p>
        <div class="d-inline text-white p-4" style="font-size: 30px;">EMAIL : dhruvyadav.it@gmail.com</div>
        <div class="d-inline text-white p-2" style="font-size: 30px;">ADDRESS : 423D Rampur,Taramandal road,Gorakhpur</div>
      </div>
  </div> -->
   <!-- /footer -->
   <!-- footers -->
  <div class="footers">
    <div class="navbars">
      <a href="./home">Home</a>
      <a href="./about">About</a>
      <a href="./contact">Contact</a>
      <a href="./feedback">Feedback</a>
 
    </div>
    <div class="social_id">
    <div>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTk7FFHA335_QHEsrJsiUvst5EEtwcw0XI7hWzthUUHaRq9Lott&usqp=CAU" alt="" height="40px" width="40px">
     <p>Facebook</p>
    </div>
    <div>
     <img src="https://i.pinimg.com/originals/08/17/15/0817158f3a05c0d62de647c28f4cde54.jpg" alt="" height="40px" width="40px">
    <p>Instagram</p>
   </div>
   <div>
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQW0ls_pP1yv0Cwk_pWZ8jQUh4N3oLXbHvOlEiiTdsx7fTOuPet&usqp=CAU" alt="" height="40px" width="40px">
    <p>Google+</p>
   </div>
   <div>
     <img src="https://img.favpng.com/8/16/24/social-media-computer-icons-linkedin-logo-png-favpng-ar5mkcVLJLBzqJGEENKfjMRdk.jpg" alt="" height="40px" width="40px">
    <p>Linkedin</p>
   </div>
    </div>
 
    <div>
      <h4 class="text-white">We are organizing QUIZ  in Noida,Uttar Pradesh.</h1>
      <p class="text-white">We helps students from all over Noida.Get in touch with us!</p>
    </div>
    <div class="container" style="margin: 40px;text-align: center;">
   <div class="row">
     <div class="col-lg-4">
       <img src="https://w7.pngwing.com/pngs/1011/641/png-transparent-message-logo-yahoo-mail-email-address-webmail-email-icon-miscellaneous-angle-triangle.png" alt="" height="40px" width="40px" > 
       <p class="text-white">quizinfo@quizathon.com</p>
     </div>
     <div class="col-lg-4">
       <img src="https://i.pinimg.com/originals/18/cc/66/18cc66056d2cbfe18267aec2ab6fd3ab.png" alt="" height="40px" width="40px" >
       <p class="text-white">180099994345</p>
     </div>
     <div class="col-lg-4">
       <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSYZisV35KmSPSTXiBKgqk9wIlRAUCiA0KAgEHFv-T2OPo7DyXz&usqp=CAU" alt="" height="40px" width="40px" > 
       <h5 class="text-white">Dhruv institution </h5>
        <p class="text-white">D-17,Bishanpura,Noida,201301</p>
     </div>
   </div>
    </div>
    <div style="border-bottom: 1px solid white;"></div>
    <div style="padding: 10px;">
      <p class="text-white">Copyright &copy; Dhruv institution,All Right Reserved | QUIZATHON</p>
    </div>
   </div>
   <!-- /footers -->
{{!-- </body>
</html> --}}