{{!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
  <link rel="stylesheet" href="contact.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
  <!-- navbar -->
  <nav >
    <input type="checkbox" name="" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">QUIZATHON</label>
  <ul>
    <li><a href="home.html">HOME</a></li>
    <li><a href="about.html">ABOUT</a></li>
    <!-- <li><a href="services.html">SERVICES</a></li> -->
    <li><a href="contact.html">CONTACT</a></li>
    <li><a href="feedback.html">FEEDBACK</a></li>
    <!-- <li><a href="login.html">LOGIN</a></li>
    <li><a href="signup.html">SIGN UP</a></li> -->
  </ul>
</nav> --}}
{{>navbar}}
<!-- /navbar -->
  <div class="details">
    <h1 class="text-center text-white display-4" style="padding: 30px;">GET IN TOUCH</h1>
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-4">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRYnvxLSajKUjzFXK4CUPMA_DicepEPJ5sczjg6pGrKV6_pWoO9&usqp=CAU" alt="" height="40px" width="40px"  >
          <h4 class="text-white">ADDRESS</h3>
            <p class="text-white"><b>Dhruv group of institution</b> <br> 423,Taramandal road <br> G.k.p,273016</p>
            <p class="text-white"><b>Avinash group of institution</b> <br> 423,Taramandal road <br> G.k.p,273016</p>
        </div>
        <div class="col-lg-4">
          <img src="https://i.pinimg.com/originals/b5/d7/19/b5d7198734ee5174b581630628ecfdd6.png" alt="" height="40px" width="40px"  >
          <h4 class="text-white">PHONE</h3>
            <p class="text-white"><b>Dhruv group of institution</b> <br> 7217834724 <br> 8736010906</p>
            <p class="text-white"><b>Avinash group of institution</b> <br> 8143737489 <br>9414939834</p>

        </div>
        <div class="col-lg-4">
          <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-email-512.png" alt="" height="40px" width="40px" >
          <h4 class="text-white">EMAIL</h3>
            <p class="text-white"><b>Request for query</b> <br>dhruv18058@gmail.com</p>
            <p class="text-white"><b>Request for proposal</b> <br>engineer.it@gmail.com</p>
        </div>

      </div>

    </div>
  </div>
  <!-- footers -->
  <div class="footers">
    <div class="navbars">
      <a href="./home">Home</a>
      <a href="./about">About</a>
      <a href="./contact">Contact</a>
      <a href="./feedback">Feedback</a>
 
    </div>
    <div class="social_id">
    <div>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTk7FFHA335_QHEsrJsiUvst5EEtwcw0XI7hWzthUUHaRq9Lott&usqp=CAU" alt="" height="40px" width="40px">
     <p>Facebook</p>
    </div>
    <div>
     <img src="https://i.pinimg.com/originals/08/17/15/0817158f3a05c0d62de647c28f4cde54.jpg" alt="" height="40px" width="40px">
    <p>Instagram</p>
   </div>
   <div>
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQW0ls_pP1yv0Cwk_pWZ8jQUh4N3oLXbHvOlEiiTdsx7fTOuPet&usqp=CAU" alt="" height="40px" width="40px">
    <p>Google+</p>
   </div>
   <div>
     <img src="https://img.favpng.com/8/16/24/social-media-computer-icons-linkedin-logo-png-favpng-ar5mkcVLJLBzqJGEENKfjMRdk.jpg" alt="" height="40px" width="40px">
    <p>Linkedin</p>
   </div>
    </div>
 
    <div>
      <h4 class="text-white">We are organizing QUIZ  in Noida,Uttar Pradesh.</h1>
      <p class="text-white">We helps students from all over Noida.Get in touch with us!</p>
    </div>
    <div class="container" style="margin: 40px;text-align: center;">
   <div class="row">
     <div class="col-lg-4">
       <img src="https://w7.pngwing.com/pngs/1011/641/png-transparent-message-logo-yahoo-mail-email-address-webmail-email-icon-miscellaneous-angle-triangle.png" alt="" height="40px" width="40px" > 
       <p class="text-white">quizinfo@quizathon.com</p>
     </div>
     <div class="col-lg-4">
       <img src="https://i.pinimg.com/originals/18/cc/66/18cc66056d2cbfe18267aec2ab6fd3ab.png" alt="" height="40px" width="40px" >
       <p class="text-white">180099994345</p>
     </div>
     <div class="col-lg-4">
       <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSYZisV35KmSPSTXiBKgqk9wIlRAUCiA0KAgEHFv-T2OPo7DyXz&usqp=CAU" alt="" height="40px" width="40px" > 
       <h5 class="text-white">Dhruv institution </h5>
        <p class="text-white">D-17,Bishanpura,Noida,201301</p>
     </div>
   </div>
    </div>
    <div style="border-bottom: 1px solid white;"></div>
    <div style="padding: 10px;">
      <p class="text-white">Copyright &copy; Dhruv institution,All Right Reserved | QUIZATHON</p>
    </div>
   </div>
   <!-- /footers -->
{{!-- </body>
</html> --}}