{{!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>feedback</title>
  <link rel="stylesheet" href="feedback.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <!-- navbar -->
  <nav >
    <input type="checkbox" name="" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">QUIZATHON</label>
  <ul>
    <li><a href="home.html">HOME</a></li>
    <li><a href="about.html">ABOUT</a></li>
    <!-- <li><a href="services.html">SERVICES</a></li> -->
    <li><a href="contact.html">CONTACT</a></li>
    <li><a href="feedback.html">FEEDBACK</a></li>
    <!-- <li><a href="login.html">LOGIN</a></li>
    <li><a href="signup.html">SIGN UP</a></li> -->
  </ul>
</nav> --}}
{{>navbar}}
 <!-- /navbar -->
  <div  style="background-color: orange;text-align: center;padding: 20px;">
   <h1 class="display-3" style="color: white; font-family: 'Courier New', Courier, monospace;">FEEDBACK</h1>
   <p>Please fill up the feedback form to improve our services.</p>
  </div>
  <div class="form_section text-center">
     <h1>
       Reach out to us!
     </h1>
     <p>Having any issues in any question? Are you interested in boost up your knowledge? Have some suggestion or just wanna say hi? Contact us: </p>
     <textarea name="" id="message" placeholder="Message"></textarea>
     <input type="text" name="" id="firstname" placeholder="Firstname">
     <input type="text" name="" id="Lastname" placeholder="Lastname">
     <input type="email" name="" id="email" placeholder="Your Email Address">
     <input type="number" name="" id="phonenumber" placeholder="Phone Number">
     <div class="float-right" style="margin-right: 55px;">
      <button type="submit" style=" background-color: orange;color: white;padding: 8px 20px;">Submit</button>
    </div>
    </div>
  
    <!-- footers -->
  <div class="footers">
    <div class="navbars">
      <a href="./home">Home</a>
      <a href="./about">About</a>
      <a href="./contact">Contact</a>
      <a href="./feedback">Feedback</a>
 
    </div>
    <div class="social_id">
    <div>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTk7FFHA335_QHEsrJsiUvst5EEtwcw0XI7hWzthUUHaRq9Lott&usqp=CAU" alt="" height="40px" width="40px">
     <p>Facebook</p>
    </div>
    <div>
     <img src="https://i.pinimg.com/originals/08/17/15/0817158f3a05c0d62de647c28f4cde54.jpg" alt="" height="40px" width="40px">
    <p>Instagram</p>
   </div>
   <div>
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQW0ls_pP1yv0Cwk_pWZ8jQUh4N3oLXbHvOlEiiTdsx7fTOuPet&usqp=CAU" alt="" height="40px" width="40px">
    <p>Google+</p>
   </div>
   <div>
     <img src="https://img.favpng.com/8/16/24/social-media-computer-icons-linkedin-logo-png-favpng-ar5mkcVLJLBzqJGEENKfjMRdk.jpg" alt="" height="40px" width="40px">
    <p>Linkedin</p>
   </div>
    </div>
 
    <div>
      <h4 class="text-white">We are organizing QUIZ  in Noida,Uttar Pradesh.</h1>
      <p class="text-white">We helps students from all over Noida.Get in touch with us!</p>
    </div>
    <div class="container" style="margin: 40px;text-align: center;">
   <div class="row">
     <div class="col-lg-4">
       <img src="https://w7.pngwing.com/pngs/1011/641/png-transparent-message-logo-yahoo-mail-email-address-webmail-email-icon-miscellaneous-angle-triangle.png" alt="" height="40px" width="40px" > 
       <p class="text-white">quizinfo@quizathon.com</p>
     </div>
     <div class="col-lg-4">
       <img src="https://i.pinimg.com/originals/18/cc/66/18cc66056d2cbfe18267aec2ab6fd3ab.png" alt="" height="40px" width="40px" >
       <p class="text-white">180099994345</p>
     </div>
     <div class="col-lg-4">
       <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSYZisV35KmSPSTXiBKgqk9wIlRAUCiA0KAgEHFv-T2OPo7DyXz&usqp=CAU" alt="" height="40px" width="40px" > 
       <h5 class="text-white">Dhruv institution </h5>
        <p class="text-white">D-17,Bishanpura,Noida,201301</p>
     </div>
   </div>
    </div>
    <div style="border-bottom: 1px solid white;"></div>
    <div style="padding: 10px;">
      <p class="text-white">Copyright &copy; Dhruv institution,All Right Reserved | QUIZATHON</p>
    </div>
   </div>
   <!-- /footers -->
    
{{!-- </body>
</html> --}}