{{!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME</title>
  <link rel="stylesheet" href="css/home.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body> --}}
  
  <!-- heading -->
  <!-- <h1 class="text-center display-4 bg-primary text-white p-2 m-0" >QUIZ TIME NOW</h1> -->
  <!-- /heading -->
 
{{>navbar}}

<!-- main_content -->
<img src="https://images.unsplash.com/photo-1539628399213-d6aa89c93074?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="" style="height: 650px; width: 100%; margin-top: 0px;">
<div class="text-center text-white " style="background-color: dimgrey;"> 
  <h1 class="p-4 m-0 display-4">PLAY NOW</h1>
  <div class="row">
    <div class="col-lg-2">

    </div>
   <div class="col-lg-4 p-4">
   <a href="/quiz">
     <img src="/images/history.jpg" alt="" height="400px" width="400px" style="margin: 2px;">
     <p style="font-size: 30px;" class="text-white">HISTORY QUIZ</p>
  </a>
   </div>
   <div class="col-lg-4 p-4">
     <a href="/quiz">
      <img src="/images/geography.jpg" alt="" height="400px" width="400px">
      <p style="font-size: 30px;" class="text-white">GEOGRAPHY QUIZ</p>
     </a>

  </div>
  <div class="col-lg-2">

  </div>
  </div>
  <div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-4 p-4">
    <img src="/images/politics.jpg" alt="" height="400px" width="400px">
    <p style="font-size: 30px;" class="text-white">POLITICS QUIZ</p>
    </div>
    <div class="col-lg-4 p-4">
     <img src="/images/science.jpg" alt="" height="400px" width="400px">
     <p style="font-size: 30px;" class="text-white">SCIENCE QUIZ</p>
   </div>
   <div class="col-lg-2">

  </div>
   </div>
   <div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-4 p-4">
    <img src="/images/technology.jpg" alt="" height="400px" width="400px">
    <p style="font-size: 30px;" class="text-white">TECHNOLOGY QUIZ</p>
    </div>
    <div class="col-lg-4 p-4">
     <img src="/images/computer.jpg" alt="" height="400px" width="400px">
     <p style="font-size: 30px;" class="text-white">COMPUTER QUIZ</p>
   </div>
   <div class="col-lg-2">

  </div>
   </div>
   <div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-4 p-4">
    <img src="/images/sports.jpg" alt="" height="400px" width="400px">
    <p style="font-size: 30px;" class="text-white">SPORTS QUIZ</p>
    </div>
    <div class="col-lg-4 p-4">
     <img src="/images/animals.jpg" alt="" height="400px" width="400px">
     <p style="font-size: 30px;" class="text-white">ANIMALS QUIZ</p>
   </div>
   <div class="col-lg-2">

  </div>
   </div>
</div>


<!-- /main_content -->


<!-- footer -->
<!-- <div class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
       <h1 class="display-3 text-white p-3">QUIZ SITE</h1>
      </div>
      <div class="col-lg-8">
      <p class="text-white p-3" style="font-size: 25px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis suscipit reiciendis laborum totam quod vitae enim illum excepturi in cumque deleniti eius pariatur, autem, aspernatur distinctio rem culpa dicta? Fugiat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus vel dignissimos ut ex voluptatum voluptatem architecto! Temporibus, magnam! Accusamus odio eligendi voluptate corporis quo dignissimos sunt delectus magni repellendus totam.</p>
      </div>
    </div>
    <div class="row"> 
    <div class="col-lg-4">
     <p class="text-white p-3" style="font-size: 25px; border-bottom: 1px solid white;" >ABOUT US</p>
      <ul>
     <li>Why qu</li>
     </ul>
    </div>
    <div class="col-lg-4">
      <p class="text-white p-3" style="font-size: 25px; border-bottom: 1px solid white;" >QUIZES</p>
    
    </div>
    <div class="col-lg-4">
      <p class="text-white p-3" style="font-size: 25px; border-bottom: 1px solid white;" >NEWSFEED</p>
     
    </div>
    </div>
  </div>
</div> -->

<!-- footer -->



<!-- footer -->
<!-- <div class="bg-primary text-center" style="height: 80px;">
  <div class="" >
    <p class="text-white  d-inline p-4" style="font-size: 30px; ">COPYRIGHT &copy; 2020 </p>
    <div class="d-inline text-white p-4" style="font-size: 30px;">EMAIL : dhruvyadav.it@gmail.com</div>
    <div class="d-inline text-white p-2" style="font-size: 30px;">ADDRESS : 423D Rampur,Taramandal road,Gorakhpur</div>
  </div>
</div> -->
<!-- footer -->
<!-- footers -->
<div class="footers">
  <div class="navbars">
    <a href="./home">Home</a>
    <a href="./about">About</a>
    <a href="./contact">Contact</a>
    <a href="./feedback">Feedback</a>

  </div>
  <div class="social_id">
  <div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTk7FFHA335_QHEsrJsiUvst5EEtwcw0XI7hWzthUUHaRq9Lott&usqp=CAU" alt="" height="40px" width="40px">
   <p>Facebook</p>
  </div>
  <div>
   <img src="https://i.pinimg.com/originals/08/17/15/0817158f3a05c0d62de647c28f4cde54.jpg" alt="" height="40px" width="40px">
  <p>Instagram</p>
 </div>
 <div>
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQW0ls_pP1yv0Cwk_pWZ8jQUh4N3oLXbHvOlEiiTdsx7fTOuPet&usqp=CAU" alt="" height="40px" width="40px">
  <p>Google+</p>
 </div>
 <div>
   <img src="https://img.favpng.com/8/16/24/social-media-computer-icons-linkedin-logo-png-favpng-ar5mkcVLJLBzqJGEENKfjMRdk.jpg" alt="" height="40px" width="40px">
  <p>Linkedin</p>
 </div>
  </div>

  <div>
    <h4 class="text-white">We are organizing QUIZ  in Noida,Uttar Pradesh.</h1>
    <p class="text-white">We helps students from all over Noida.Get in touch with us!</p>
  </div>
  <div class="container" style="margin: 40px;text-align: center;">
 <div class="row">
   <div class="col-lg-4">
     <img src="https://w7.pngwing.com/pngs/1011/641/png-transparent-message-logo-yahoo-mail-email-address-webmail-email-icon-miscellaneous-angle-triangle.png" alt="" height="40px" width="40px" > 
     <p class="text-white">quizinfo@quizathon.com</p>
   </div>
   <div class="col-lg-4">
     <img src="https://i.pinimg.com/originals/18/cc/66/18cc66056d2cbfe18267aec2ab6fd3ab.png" alt="" height="40px" width="40px" >
     <p class="text-white">180099994345</p>
   </div>
   <div class="col-lg-4">
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSYZisV35KmSPSTXiBKgqk9wIlRAUCiA0KAgEHFv-T2OPo7DyXz&usqp=CAU" alt="" height="40px" width="40px" > 
     <h5 class="text-white">Dhruv institution </h5>
      <p class="text-white">D-17,Bishanpura,Noida,201301</p>
   </div>
 </div>
  </div>
  <div style="border-bottom: 1px solid white;"></div>
  <div style="padding: 10px;">
    <p class="text-white">Copyright &copy; Dhruv institution,All Right Reserved | QUIZATHON</p>
  </div>
 </div>
 <!-- /footers -->
{{!-- </body>
</html> --}}