{{!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body> --}}
  <div class="container1">
    <div class="site_title">
      <h1 class="display-3" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Online Quiz Website</h1>
      <div class="login">
        <h1 class="text-dark display-4 m-3">LOGIN</h1>
        <form action="/login" method="post">
         <input type="text" name="username" id="username" placeholder="Username" style="border: 1px solid dark; display: block; width: 80%; margin-left: 10%; margin-top: 30px; padding: 8px;">
      
        <input type="password" name="password" id="password" placeholder="Password" style="border: 1px solid dark; display: block; width: 80%; margin-left: 10%; margin-top: 30px; padding: 8px;">
      <!-- <div class="" style=" left: 10%;">
        <input type="checkbox" class="m-0"><p class="text-dark d-inline p-1">Remember Me</p>
      </div> -->
      <div class="buttons">
        <button type="submit" style="padding: 10px 40px; margin-top: 30px; background-color: green;width: 80%; color:white;"> LOGIN</button>
       
      </div>
      <div>
        <p class="text-dark" style="float: left; margin-left:10%; margin-top:10px;">New user?? <br> Register Now</p>
         <button type="submit"  style="padding: 10px 30px;margin-left: 18%; margin-top: 10px;background-color: tomato;"><a style="color: white;"href="./signup">SIGNUP</a> </button>
         </form>
       
      </div>
      </div>
      
      
    </div>
    <!-- <div class="overlay"></div> -->
  </div>
{{!-- </body>
</html> --}}